
<div class="container mt-5">
<h2>Grafico de Cantidades</h2>
<hr />
<div class="row">
    <div class="col-lg-12" style="display: flex; justify-content: center;">
        <div id="chartdiv" style="width: 700px; height: 500px; box-shadow: 5px 10px 18px #888888;">
        </div>
    </div>
</div>
</div>

@section Scripts{
    
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart','bar'] });

    google.charts.setOnLoadCallback(DrawonLoad);

    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Graficos/GetPiechartJSON',
                success: function (chartsdata) {

                    var Data = chartsdata.jsonList;
                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'tipo');
                    data.addColumn('number', 'cantidad');

                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].tipo, Data[i].cantidad]);
                    }

                    var chart = new google.visualization.BarChart(document.getElementById('chartdiv'));

                    chart.draw(data,
                        {
                            title: "Bultos",
                            position: "top",
                            fontsize: "14px",
                        });

                },
                error: function () {
                    alert("Error cargando. Intente nuevamente.");
                }
            });
        })

    }
</script>
}