<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Sistema de Bultos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>

<div class="navbar navbar-fixed-top bg-dark">
    <div class="container" style="display:flex; justify-content: center;">
        <div class="navbar-header">
            @Html.ActionLink("Sistema de Bultos", "Index", "Home", new {area = ""}, new {@class = "navbar-brand mb-0 h1 text-white"})
        </div>
    </div>
</div>
<main role="main" style="height: 100%">
    @RenderBody()
</main>

@*<footer class="border-top mt-5 footer text-muted bg-secondary">
    <div class="container">
        <p>this is the footer</p>
    </div>
</footer>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>