@model WebAppGUI.Modelos.Bulto
@{
    string response = (string)ViewData["response"];
    ViewData["Title"] = "Bultos";
}


<div class="container pt-5">
    <h1>Bulto</h1>
<hr />
<div class="row center-all">
    <div class="col-md-6">
        <form asp-action="PonerBulto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Enviar Bulto" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

</div>

@Html.Raw(response)

<div>
    <a asp-action="Index" asp-controller="Home">Volver al inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
